{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ task.name }}{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h2 class="mb-4">{% translate 'View task' %}</h2>
        <div class="card">
            <div class="card-header bg-secondary text-white" style="font-size: 1.2rem;">
                {{ task.name }}
            </div>
            <div class="card-body">
                <p class="card-text">{{ task.description }}</p>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">{% translate 'Author' %}</th>
                        <td>{{ task.creator_by.get_full_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% translate 'Executor' %}</th>
                        <td>{{ task.executor.get_full_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% translate 'Status' %}</th>
                        <td>{{ task.status.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% translate 'Date create' %}</th>
                        <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% translate 'Labels' %}</th>
                        <td>
                            <ul>
                                {% for label in task.labels.all %}
                                    <li>{{ label.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a href="{% url 'update_task' task.id %}" class="btn btn-primary">{% translate 'Change' %}</a>
                <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">{% translate 'Delete' %}</a>
            </div>
        </div>
    </div>

{% endblock content %}