{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate 'Delete status' %}{% endblock title %}

{% block content %}
    <h1>{% translate 'Delete status' %}</h1>

    <p>{% translate 'Are you sure you want to delete' %} {{ status.name }}</p>
    <form method="post" action="{% url 'delete_status' pk=status.id %}" style="display: inline;">
        {% csrf_token %}
        <input type="submit" value="{% translate 'Yes, delete' %}" class="btn btn-danger">
    </form>
{% endblock content %}