{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate 'Main' %}{% endblock title %}

{% block content %}
<h1 class="my-4">Добро пожаловать в Менеджер Задач!</h1>
    <p>Эффективное управление проектами и задачами.</p>

    <!-- Описание Основных Функций -->
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Трекер Задач</h4>
                    <p class="card-text">Следите за выполнением задач, устанавливайте сроки и приоритеты, назначайте задачи членам команды.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Форумы</h4>
                    <p class="card-text">Обсуждайте проекты, делитесь идеями и получайте обратную связь от команды.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Документация и Вики</h4>
                    <p class="card-text">Создавайте и управляйте документацией проекта, используйте вики для совместной работы и накопления знаний.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Пример Использования -->
    <div class="row my-4">
        <div class="col">
            <h2>Как это работает</h2>
            <p>Наш менеджер задач помогает вам оставаться организованным и эффективно управлять вашими проектами. От простого списка дел до сложных проектных планов - у нас есть инструменты, чтобы справиться с любой задачей.</p>
        </div>
    </div>
{% endblock content %}