{% load i18n %}

<form action="{% url 'set_language' %}" method="post" class="form-inline">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.path }}">
    <div class="input-group">
        <select name="language" onchange="this.form.submit()" class="form-select">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
                    {{ lang.1 }} ({{ lang.0 }})
                </option>
            {% endfor %}
        </select>
    </div>
</form>
